# Ignoruj pliki i foldery Pythona
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

.env

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.log
*.tmp
*.bak
*.swp
*.DS_Store

htmlcov/
.tox/
.coverage
coverage.xml
.cache

Thumbs.db
.DS_Store
